WorldHealthBarPanel {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	pointer-events: none;

	.world-player-health-root {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
	}

	.world-player-health {
		position: absolute;
		left: 6px;
		top: -5px;
		width: 120px;
		height: 252px;
	}

	.world-player-health-bg,
	.world-player-health-frame {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 120px;
		height: 252px;
	}

	.world-player-health-bg {
		z-index: 1;
	}

	.world-player-health-fill-mask {
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 0px;
		overflow: hidden;
		z-index: 2;
	}

	.world-player-health-fill {
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 120px;
		height: 252px;
		z-index: 2;
	}

	.world-player-health-frame {
		z-index: 10;
	}

	.world-player-health-readout {
		position: absolute;
		left: 36px;
		top: 186px;
		width: 74px;
		height: 42px;
		transform: rotate(-8deg);
		flex-direction: column;
		align-items: flex-start;
		z-index: 20;
	}

	.world-player-health-value {
		font-size: 25px;
		font-weight: 900;
		color: white;
		text-stroke: 5px #272C28;
	}

}
