{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "world": "Collide",
    "player": "Collide",
    "deadplayer": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "deadplayer",
      "b": "player",
      "r": "Ignore"
    },
    {
      "a": "deadplayer",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "deadplayer",
      "b": "world",
      "r": "Collide"
    },
    {
      "a": "deadplayer",
      "b": "deadplayer",
      "r": "Ignore"
    }
  ],
  "__guid": "b8610d20-8519-48d8-8767-7878e25ce750",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}
